@use "../abstract/" as *;

.history-wrapper {
  padding: 2rem;
  position: relative;

  .wrapper {
    @include flex(row, 8rem);
  }
  .left {
    @include flex(column);
    gap: 30rem;
    position: relative;

    p {
      justify-content: right;
    }
  }
  .right {
    @include flex(column);

    p {
      justify-content: left;
      padding: 0;
    }
    .element::after {
        right: unset;
        left: 0;
    }
}
  .element {
    border-radius: 8px;
    box-shadow: 1px 0 8px -4px rgb(56, 55, 55);
    position: relative;
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #000000;
    background-color: $orange-clr;
    
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      background-color: $orange-clr;
      z-index: -20;
      top: 50%;
      right: 0;
      width: 6rem;
      height: 6rem;
      transform: rotate(45deg);
    }
  }

  h1 {
    padding-bottom: 3rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    text-align: right;
    color: rgb(27, 14, 14);
  }
  p {
    border-radius: 0.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.751);
  }

  &::after {
    content: "";
    position: absolute;
    width: 3px;
    left: 50%;
    top: 0;
    // transform: ;
    height: 100%;
    background: black;
  }
}
