@mixin flex($alignment: column, $gap: 1rem) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
    flex-direction: $alignment;
}

@mixin shadow() {
    box-shadow: 0 0 8px -6px black;
}